<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>Label</key>
    <string>com.cliffside.server</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>/usr/local/lib/cliffside/dist/service.js</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/mkellsy/.leap</string>

    <key>StandardOutPath</key>
    <string>/usr/local/var/cliffside/run.log</string>

    <key>StandardErrorPath</key>
    <string>/usr/local/var/cliffside/run.log</string>

    <key>UserName</key>
    <string>mkellsy</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/mkellsy</string>
    </dict>
</dict>
</plist>